PORT=5950
NODE_ENV=development

DB_USERNAME=
DB_PASSWORD=
DB_NAME=kemenag_email
DB_PORT=5432
DB_HOST=localhost
DB_DIALECT=postgres

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

SMTP_HOST=smtp2.kemenag.go.id
SMTP_PORT=587
SMTP_USER=
SMTP_PASSWORD=
SENDER_EMAIL=
SENDER_NAME=SIAPI Kemenag
LOGO_URL=https://siapi.kemenag.go.id/media/logokma.png

SERVICE_KEY=
